<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expat Areas</title>

    <!-- this is the Mapbox code -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="airlineFilter">
        <span>
            <div class="image-container europe-button">
                <img class="airline" src="europe.png" id="europe" alt="Europe">
                <div class="overlay-text">Europe</div>
            </div>
            <div class="image-container caribbean-button">
                <img class="airline" src="caribbean.png" id="caribbean" alt="caribbean">
                <div class="overlay-text">Caribbean</div>
            </div>
            <div class="image-container south-east-asia-button">
                <img class="airline" src="south-east-asia.png" id="south-east-asia" alt="south-east-asia">
                <div class="overlay-text">South-East Asia</div>
            </div>
            <div class="image-container greece-button">
                <img class="airline" src="greece.png" id="greece" alt="greece">
                <div class="overlay-text">Greece</div>
            </div>
            <div class="image-container iberia-button">
                <img class="airline" src="iberia.png" id="iberia" alt="iberia">
                <div class="overlay-text">Iberian Peninsula</div>
            </div>
        </span>
    </div>
    <div id="map"></div>

    <div id="tooltip"
        style="display: none; position: absolute; padding: 10px; background: green; border-radius: 10px; font-size: 14px; text-align: center; pointer-events: none; z-index: 10;">
        <!-- Region Name -->
        <!-- <h3 id="regionName">test title</h3> -->

        <!-- Region Description -->
        <h3 id="regionDescription">test description</h3>

        <!-- User Comments Section -->
        <div id="userComments">
            <h4>User Comments:</h4>
            <p id="commentsList">
                Some Comment
            </p>
        </div>
        <!-- Comment Form -->
        <form id="commentForm">
            <label for="commentInput">Add a Comment:</label>
            <textarea id="commentInput" rows="4" cols="50" required></textarea>
            <button type="submit">Add Comment</button>
        </form>
    </div>



    <!-- <script src="index.js"></script> -->
    <script type="module" src="index.js"></script>
</body>

</html>