<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expat Areas</title>

    <!-- this is the Mapbox code -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
    <link
        href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="airlineFilter">
        <h1>Where To Work Remote With Your Family And Children</h1>

        <span>
            <div class="image-container full-button">
                <img class="airline" src="full.png" id="full" alt="Full">
                <div class="overlay-text">Full Map</div>
            </div>
            <div class="image-container europe-button">
                <img class="airline" src="europe.png" id="europe" alt="Europe">
                <div class="overlay-text">Mediterranean</div>
            </div>
            <div class="image-container caribbean-button">
                <img class="airline" src="caribbean.png" id="caribbean" alt="caribbean">
                <div class="overlay-text">Caribbean</div>
            </div>
            <div class="image-container south-east-asia-button">
                <img class="airline" src="south-east-asia.png" id="south-east-asia" alt="south-east-asia">
                <div class="overlay-text">South-East Asia</div>
            </div>
            <div class="image-container greece-button">
                <img class="airline" src="greece.png" id="greece" alt="greece">
                <div class="overlay-text">Greece</div>
            </div>
            <div class="image-container iberia-button">
                <img class="airline" src="iberia.png" id="iberia" alt="iberia">
                <div class="overlay-text">Iberian Peninsula</div>
            </div>
            <div class="image-container scandinavia-button">
                <img class="airline" src="scandinavia.png" id="scandinavia" alt="scandinavia">
                <div class="overlay-text">Scandinavia</div>
            </div>
        </span>
    </div>
    <div id="map"></div>

    <div id="tooltip">
        <!-- Region Description; innerhtml gets changed by the js I assume-->
        <h3 id="regionDescription">test description</h3>


    </div>


    <!-- <script src="index.js"></script> -->
    <script type="module" src="index.js"></script>
</body>

</html>